<!--
<button id="myBtn">Open Modal</button>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>
-->

@model IEnumerable<ApartmentVM>

<div class="container body-content">
    <h2>Apartment reservation system</h2>
    <div id="basiclayout">
        <div id="right" class="rlt-right">
            <div class="hotel-description-div">
                <div class="SeachHeaderPart">
                    <h4>Number of ads: @Model.Count()</h4>
                </div>
                <select class="sortSelect">
                    <option>Sort by price</option>
                    <option>Sort by rating</option>
                    <option>Sort by distance</option>
                </select>
            </div>
            @foreach (var aparment in Model)
            {
                var x = @aparment.RatingStars * 20;
                <div class="Search_offer">
                    <div class="left_img">
                        <img class="imag" src="~/images/1.jpg" />
                    </div>
                    <div class="right_desc">
                        <div class="SearchOffleft" style="border-left:1px solid #000;">
                            <h4 style="font-weight: bold; margin-top: 30px; line-height: 1.5;">@aparment.Title</h4>
                        </div>
                        <div class="SearchOffleft" style="border-left:1px solid #000;">
                            <h4 style="font-weight: bold">RATING</h4>
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top" style="width: @x%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                            <h4 style="margin-top: 20px">@aparment.RatingStars.ToString("F")</h4>
                        </div>
                        <div class="SearchOffleft" style="border-left:1px solid #000;">
                            <h4 style="font-weight: bold">PRICE:</h4>
                            <h5>@aparment.Price $</h5>
                            <section class="contentButton">
                                <div class="Searchv2">
                                    <button id="btnCheck" class="buttonv2" href="">@Html.ActionLink("Description", "Description", new { id = aparment.Id });</button> 
                                </div>
                               @*@Html.ActionLink("Description", "Description", new { id = aparment.id }); *@ 
                                
                            </section>
                        </div>
                    </div>
                </div>
                                        }
        </div>
        <div id="left" class="rlt-left">
            <table class="StartTable">
                <thead>
                    <tr>
                        <th colspan="3">Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><input class="sb-destination" id="destin" /></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="departing" type="date" min=@DateTime.Today></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of departure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="returning" type="date"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Guests</th>
                    </tr>
                    <tr>
                        <td><input type="number" id="count_picker" min="1"></td>
                    </tr>
                </thead>
            </table>
            <br />
            <section class="contentButton">
                <div class="Search">
                    <button id="btnSerch" class="button" onclick="uriaction2()">Search</button>
                </div>
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Clear</a>
                </div>
            </section>
        </div>
    </div>
</div>